body, html {
  height: 100%;
}
body {
  font-family: arial;
  background-color: #e7893e;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
#header {
  text-align: center;
  padding: 5%;
}
.logo {
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 32pt;
}

#login {
  background-color: rgba(255,255,255,0.7);
  text-align:center;
  padding-top: 50px;
  padding-bottom: 50px;
  clear: none;
}
#login div {
  width: 30%;
  margin: 0 auto;
}
#login .label {
  display: block;
  width: 100px;
  float: left;
  padding: 6px;
  clear: both;
}
#login input[type="text"],  #login input[type="password"]{
  display:block;
    border: 1px solid #c8d8e2;
    border-radius: 3px;
    height: 20px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color:#555;
    transition: 0.5s all;
    font-size: 11pt;
  margin-bottom: 5px;
}
input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#login input[type="submit"]
{
  border: 1px solid rgb(68, 136, 217);
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(68, 136, 217);
  width: 100px;
  text-align: center;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.5s all;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  margin-top: 10px;
}
#forgot {
  float: right;
  cursor: pointer;
}
#register:hover {
  color: orange;
}
#forgot:hover {
  color: orange;
}
#register {
  float: left;
  cursor: pointer;
}

#navbar .logo {
  display:block;
  font-size: 18pt;
  width: 100px;
  float:left;
  padding: 10px;
  padding-right: 50px;
}
#navbar ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 5px;
  margin: 0;
}
#navbar ul li {
  display: inline;
}
#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: aliceblue;

}
#navbar .selected {
  color: white;
  border-bottom: 5px solid white;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #navbar li {
    width: 120px;
    border-bottom: none;
  } 
  #navbar li {
    display: inline-block;
    margin-right: -4px;
    padding-bottom: 5px;

  } 
}

#container {
  background-color: rgba(255,255,255,0.7);
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 20%;
}
.message-container, .m-message-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 15%;
  position: relative;
}

.m-message-container {
  padding-right: 40%;
}

.message {
  font-size: 24pt;
}
.progress {
  background-color: rgba(255,255,255,0.5);
  height: 35px;
  border: 2px solid #666;
  border-radius: 5px;
  margin-top: 25px;
}
.fill {
  background-color: chartreuse;
  width: 70%;
  height: 35px;
}
.sub {
  font-size: 16pt;
}
.grade {
  float: right;
}
table {
  border-collapse: collapse;
  width: 110%;
  position: relative;
}
tr, td {
  border: 1px solid #b96;
  text-align: center;
  padding: 15px;
}
tr:nth-child(even) {
  background-color: #DCB;
}
tr:first-child {
  background-color: orange;
  font-weight: bold;
}
tr:hover {
  background-color: rgba(255,155,100, 0.5);
  cursor: pointer;
}

/*
Media Query 
*/
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px) {
  table, thead, tbody, th, td, tr { 
		display: block; 
	}

}
.chat-container {
  width: 85%;
  padding-top: 10%;
  padding-left: 2%;
}

form, p, span {
  margin: 0;
  padding: 0;
}

input {
  font: 12px arial;
}

#wrapper, #loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #e7893e;
  width: 504px;
  border: 1px solid #acd8f0;
  float: left;
}

#chatbox {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 170px;
  width: 430px;
  border: 1px solid #acd8f0;
  overflow: auto;
}

#menu {
  padding: 12.5px 25px 12.5px 25px;
}

.welcome {
  float: left;
}

.logout {
  float: right;
}

#usermsg {
  margin-left: 5%;
}

#names {
  overflow-y: scroll;
  height: 300px;
  display: block;
  width: 20%;
  float: left;
  margin-right: 10%;
}

#grade-scroll {
  overflow-x: scroll;
  height: 100%;
  width: 65vw;
  display: block;
}

#names p {
  font-weight: bold;
}

.left, .inside-left {
  text-align: left;
  width: 55%;
}

.right {
  text-align: right;
}

.inside-left h1 {
  font-size: 10px;
}

.inside-right h1 {
  text-align: right;
  font-size: 11px;
}
